[Unit]
Description=Garbage Collector Webscraper

[Service]
Type=simple
ExecStart=python3 /opt/garbage-collector-api/webscraper.py

[Install]
WantedBy=multi-user.target
