[Unit]
Description=Garbage Collector RestAPI

[Service]
Type=simple
ExecStart=/bin/bash //opt/garbage-collector-api/run.sh

[Install]
WantedBy=multi-user.target
